*,
*::after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #a2b8bf;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;

}

a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

/************* Home section *************/

html,
body,
.st-container,
.st-pusher,
.st-content {
	height: 100vh;
}


.st-container {
	/*position: absolute;*/
	overflow: hidden;

}

.st-pusher {
	/*position: relative;*/
	left: 0;
	/*z-index: 99;*/
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	position: fixed;
z-index: 1;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/************** Push-menu **************/

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: rgba(52, 25, 24, 0.7);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.st-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0; 
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu ul {
	margin: 0;
	margin-left: 20px;
	padding: 0;
	list-style: none;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

.st-effect.st-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.st-effect .st-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.st-effect.st-menu-open .st-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.st-effect.st-menu {
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
	transform: translate3d(-100%, 0, 0) rotateY(90deg);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.st-effect.st-menu-open .st-effect.st-menu {
	visibility: visible;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
	transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

.btn-arrow {
  	display: inline-block;  
    position: relative;
    padding: .8em 1.4em;
    padding-right: 4.7em;
   	background: rgb(64, 121, 58);
  	outline: none;
    border: none;
    color: white;
    transition: .2s;
    margin: 48px 30px -17px;
    min-width: 15em;
}

.btn-arrow:before,
.btn-arrow:after {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	right: 0;
  	padding-top: inherit;
  	padding-bottom: inherit;
  	width: 2.8em;
  	font-family: 'FontAwesome', sans-serif;
  	font-size: 1.2em;
  	text-align: center;
  	transition: .2s;
  	transform-origin: 50% 60%;
  	background: #d6b39a;
}

.btn-arrow:after {
  	content: "\003E";
}

.btn-arrow:hover {
  	background: #01b719;
}

.btn-arrow:hover:after {
    -moz-animation: bounceright .3s alternate ease infinite;
  	-webkit-animation: bounceright .3s alternate ease infinite;
  	animation: bounceright .3s alternate ease infinite;
  	background: #fff;
  	color: #000;
}

@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
}


/************* Main home content *************/

.st-content {	
	background: #f3efe0;
}

.st-content,
.st-content-inner {
	position: absolute;
	top: 0;
	left: 0;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.main {
	max-width: 64em;
	margin: 0 auto;
	overflow: hidden;
}

/************ Navigation ************/

.toggle_but, .top_nav {
    top: 0;
    width: 40px;
    position: absolute;
}

.top_nav {
    left: 0;
    height: 100%;
    background-color: rgba(52,25,24,0.6);
    z-index: 40;
}

.toggle_but {
    height: 40px;
    z-index: 110;
    cursor: pointer;
}

.toggle_but span:nth-child(1) {
    top: 10px;
}

.toggle_but span:nth-child(2) {
    top: 22px;
}

.toggle_but span:nth-child(3) {
    top: 34px;
}

.toggle_but span {
    position: absolute;
    width: 30px;
    height: 2px;
    left: 4px;
    background-color: #fff;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}
 
.toggle_but.tog_mnu span:nth-child(1) {
    top: 24px;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.toggle_but.tog_mnu span:nth-child(2) {
    width: 0;
}

.toggle_but.tog_mnu span:nth-child(3) {
    top: 24px;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.soc_wrap {
    top: 30%;
    position: absolute;
    left: 0;
    width: 100%;
}

.soc_wrap a {
    display: block;
    margin: 10px auto;
    font-size: 30px;
    color: #a2b8bf;
    text-align: center;
    position: relative;
    width: 35px;
    height: 35px;
    z-index: 10;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    border-radius: 50%;
}

.soc_wrap a:hover {
	color: #fff;
	transform: scale(1.1);
}

/************** Canvas and titles **************/

.large-header {
	position: relative;
	width: 100vw;
	overflow: hidden;
	background: #a2b8bf;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.main-title {
	position: absolute;
	margin: 0;
	color: #f9f1e9;
	text-align: center;
	top: 40%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
	padding: 10px 40px;
	border: 10px double #f9f1e9;
	text-transform: uppercase;
	font-family: Londrina Outline, sans-serif;
}

.header-text {
	color: #341918;
	font-size: 26px;
	text-shadow: #d6b39a 3px -3px 5px;
	padding-top: 20px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0);
}

.arrow-bottom {
	text-align: center;
	position: absolute;
	z-index: 2;
	bottom: 5%;
    left: 49%;
    transform: translate(-50%, 0);
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url("../img/arrow_down.png");
	cursor: pointer;
	opacity: .7;
	transition: all .25s ease;
}

.arrow-bottom:hover {
	opacity: 1;
} 

/*Tools*/

.tools-sect {
  	padding: 55px 0 12px;
	background-color: #e4d8d7;
	z-index: 255;
	position: relative;
}  

.tls-title {
  color: #341918;
  font-size: 30px;
  text-shadow: #d6b39a 2px -2px 5px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

.tls-title:after {
	position: absolute;
	content: '';
	height: 4px;
	background-color: #a2b8bf;
	width: 165px;
	display: block;
	bottom: -30px;
	left: 50%;
	transform: translate(-50%, 0);
}  

.tls-content {
	display: flex;
    
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 94px;
    width: 100%;
    flex-wrap: wrap;
}  
.tls-item {
	padding: 38px 22px;
	vertical-align: top;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px)
}

.tls-item.on {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.tls-item img {
	width: auto;
    height: 150px;
    text-align: center;
    
}

.btm-triangle {
	height: 90px;
    position: absolute;
    top: -1px;
    background-image: url(../img/s2_triangle.png);
    width: 100%;
    background-position: top;
    background-size: 100% 100%;
    text-align: center;
}

/* Section Portfolio */
.projects-sect {
  	padding: 55px 0;
	background-color: #f2efee;
	position: relative;
	z-index: 255;
}  

.pr-header {
	margin-bottom: 55px;
	margin-top: 86px;
}

.pr-title {
  color: #341918;
  font-size: 30px;
  text-shadow: #d6b39a 2px -2px 5px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

.pr-title:after {
	position: absolute;
	content: '';
	height: 4px;
	background-color: #a2b8bf;
	width: 165px;
	display: block;
	bottom: -30px;
	left: 50%;
	transform: translate(-50%, 0);
}          

.pr-content {
	display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 28px;
    width: 100%;
    flex-wrap: wrap;
    -webkit-perspective: 1500px;
    perspective: 1500px
}

.pr-filter {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
    margin-bottom: 50px;
    position: relative;
}
.mix {
	display: none;
}
.filter {
	font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    color: #900f0b;
    padding: 0 57px;
    transition: all 2s;
    cursor: pointer;
    position: relative;
}

.active:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    content: '.';
    margin: 0;
    opacity: 0;
}

.active {
  color: #fff;
  z-index: 1;
}

.active:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #d6b39a;
  }
}

.info-item-wrap {
	border: 10px solid #f1eeed;
}
.info-item {
	-webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.info-item.pr-on {
    opacity: 1
}

.info-item.pr-off {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    opacity: 0
}

.view {
  width: 380px;
	height: 270px;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 7px 10px 34px 1px rgb(96, 89, 90), inset -1px -6px 12px 0.1px #89847e;
}

.mask {
	width: 380px;
	height: 270px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(162, 184, 191, 1);
	transition: all 0.4s ease-in-out;
}

.img-sites {
  display: block;
	position: relative;
	transition: all 0.2s linear;
}

.pr-name {
  text-transform: capitalize;
    color: #f2efee;
    text-align: center;
    position: relative;
    font-size: 19px;
    padding: 10px;
    background: rgba(171, 90, 53, .8);
    /*margin: 60px 0;*/
    transform: translateY(-100px);
    opacity: 0;
}

.pr-descr {
  font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 35px;
	position: relative;
	color: #341918;
	padding: 20px 5px;
	text-align: center;
	transform: translateY(100px);
	opacity: 0;
	transition: all 0.2s linear;
}

a.pr-info {
  font-size: 20px;
    display: inline-block;
    padding: 7px 14px;
    margin-top: 0px;
    background: #40793a;
    color: #f2efee;
    box-shadow: 0 0 1px #000;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view:hover {
  box-shadow: 0 0 5px #000;
}

.view:hover .img-sites {
  transform: scale(1.1);
}

.view:hover .mask {
  opacity: .9;
}

.view:hover .pr-name, .pr-descr, a.pr-info{
  opacity: 1;
  transform: translateY(0px);
}
.view:hover .pr-descr {
  transition-delay: 0.1s;
}
.view:hover a.pr-info {
  transition-delay: 0.2s;
}


/* Section Contact */

.contact-sect {
  	padding: 75px 0;
	background-color: #a2b8bf;
	position: relative;
	z-index: 255;
}
.top-triangle {
  	height: 90px;
	position: absolute;
	top: -1px;
	background-image: url("../img/s1_triangle.png");
	width: 100%;
	background-position: top;
	background-size: 100% 100%;
	text-align: center;
}


.cnt-title {
  	padding-top: 60px;
}

.cnt-title:after {
	position: absolute;
	content: '';
	height: 4px;
	background-color: #f2efee;
	width: 165px;
	display: block;
	bottom: -30px;
	left: 50%;
	transform: translate(-50%, 0);
}          

.cnt-descr {
  	padding-top: 80px;
  	font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    color: #900f0b;
        position: relative;
    text-align: center;
}

.cnt-wrap {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
   margin-top: 31px;
    
}
.forms label {
  margin-top: 22px;
  margin-bottom: 32px;
  display: block; 
}

.forms input,.textarea{
  display: block;
  width: 150%;
  border: none;
  box-shadow: 0 -3px #d6b39a;
  background-color: #f2efee;
  text-indent: 10px;
  padding: 10px 0;
  transition: all .5s ease;
  color: #341918;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  opacity: .8;
  outline: none;
}

.buttons {
  position: relative;
  font-size: 15px;
  font-weight: bold;
  color: #f2efee;
  text-decoration: none;
  text-shadow: 0 -1px 1px #d6b39a;
  user-select: none;
  padding: 6px 24px;
  outline: none;
  border-radius: 1px;
  background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d6b39a, #f7b688, #d6b39a);
  background-size: 100% 100%, auto;
  background-position: 50% 50%;
  box-shadow: inset #a2b8bf
 0 -1px 1px, inset 0 1px 1px #f7b688, #d6b39a 0 0 0 1px, #000 0 10px 15px -10px;
  transition: 0.2s;
}

.buttons:hover {
  background-size: 140% 100%, auto;
}

.buttons:active {
  top: 1px;
  color: #ffdead;
  box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
}

.cnt-right {
  padding-top: 25px;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
  width: 130px;
  border-radius: 50%;
  border: 2px solid #d6b39a;
  box-shadow: 0 0 30px rgba(0,0,0,0.5)
}

.socials-main {
 	padding-top: 20px;
 	width: 300px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.socials-main a {
	padding-bottom: 20px;	
}

.fa-phone-square, .fa-envelope, .fa-map-marker-alt {
	font-size: 20px;
    color: #60595a;
}


.cnt-right span {
  font-size: 16px;
  font-weight: 600;
  color: #ab5a35;
  padding: 10px;
}

.cnt-right a:hover {
  color: #ab5a35;
}

.socials-dfr {
  padding-top: 20px;
}

.socials-dfr a {
	margin: 10px auto; 
    font-size: 32px;
    color: #40793a;
    text-align: center;
    /* position: relative; */
    /* width: 35px; */
    /* height: 58px; */
    /* z-index: 10; */
    padding-right: 10px;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.socials-dfr a:first-child {
	padding-left: 10px;
}
.cnt-right .btn-arrow {
box-shadow: inset #a2b8bf 0 -1px 1px, inset 0 1px 1px #a2b8bf, #a2b8bf 0 0 0 1px, #000 0 10px 15px -10px;
}

/* Section Footer */
.main-footer {
  background-color: rgba(96, 89, 90, 1);
  z-index: 255;
  position: relative;
}
.copy-wrap {
	padding: 10px 0;
}
.copy-name {
	text-align: center;
    /* padding: 12px 0; */
    color: #e2e4e4;
    font-size: 13px;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 12px;
}

.copy-wrap img {
    cursor: pointer;
    /* text-align: center; */
    margin: 0px auto;
    display: block;
    /* padding-top: 5px; */
}

.copy-wrap img:hover {
	transform: scale(1.3);
}

.footer-menu {
	
	text-align: center;
	padding-left: 18px;
	margin-bottom: 0;
}

.footer-menu li {
	display: inline;
	list-style: none;
}

.footer-menu li a {
   color: #a2b8bf;
    font-size: 17px;
    /* padding: 0; */
    letter-spacing: 1.5px;
    margin: 0 32px;
    text-decoration: underline;
}

.footer-menu li a:hover {
	color: #e2e4e4;
	text-decoration: none;
}
































